@font-face {
    font-family: APEX;
    src: url(fonts/Apex\ Mk3\ Black.ttf);
}

@font-face {
    font-family: GOOGLE ;
    src: url(fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: FRIZON;
    src: url(fonts/Frizon.ttf);
}

@font-face {
    font-family: GRAND;
    src: url(fonts/GRAND.otf);
}

.flex{
    display: flex;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_column{
    display: flex;
    flex-direction: column;
}

.gap{
    gap: 20px;
}

.gap_10{
    gap: 10px;
}

.zero_margin{
    margin: 0;
}

.heigth{
    height: 30%;
}

.center{
    align-items:center;
    justify-content: center;
}





body{
    width: 100%;
    height: 100%;
    background-color: #F8FAFC;/*rgb(0, 183, 255) */
    background-color: #222831;
    display: flex;
    flex-direction: column;
    padding: 0;
    /* margin: 0; */
    align-items: center;
    justify-content: center;
    
}

.header{
    background-color:white ;
    background-image: url(icon/esport3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    margin: 50px auto;
    justify-content: space-between;
    height: 300px;
    width: 900px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* .header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
} */

.item_box{   
    background-color: #FFF2C6;
    /* backdrop-filter: blur(5px); */
    margin: 10px auto;
    gap: 0px 20px;
    height: 300px;
    width: 900px;
    border-radius: 50px;
}

.item{ 
    background-color: #FFF8DE;/*rgba(243, 243, 243, 0.705)*/
    color: rgba(255, 0, 0, 0.918);
    /* font-family: GOOGLE; */
    height: 250px;
    width: 270px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    /* border: 4px solid rgb(114, 114, 114);*/
} 

.item_title_bar{ 
    /* background-color: rgba(122, 122, 122, 0.075); */
    height: 30%;
    width:250px;
    gap: 10px; 
}

.item_title_bar h2{
  font-size: 35px;
  color: #222831;
  font-family: APEX;
  font-weight: bold;
}

.count_bar{
    /* background-color: rgb(51, 255, 0); */
    height: 120px;
    width:250px;
}

.count_bar h3{
    font-size: xx-large;
    position: relative;
    color: #222831;
    top:20px;
    font-family: FRIZON;
}

.icon{
    /* margin: 10px 0px 10px 20px ; */
    width:70px; 
    height:70px;
    /* border-radius: 20px; */
}

h1{
    margin: 0;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.747);
}

.management{
    /* background-color: #da0909; */
    margin: 10px auto;
    display: grid;  
    grid-template-areas:
     "notification notification control"
     "runtime battery control"
     "noting noting noting";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:0px;
    height: 1100px;
    width: 900px;
    border-radius: 50px;
}

.management .notification{  
   grid-area: notification;
   background-color: #ffeaeae7;
   border-radius: 50px;/*75px*/
   margin: 0 15px 0px 20px;
   height: 320px;
   width: 640px;
}

.management .runtime{  
   grid-area: runtime;
   background-color: #ffffff;
   border-radius: 75px;
   margin: 0 10px 0px 20px;
   height: 310px;
   width: 310px;
   color: orange;
   font-size: xx-large;
   font-family: GOOGLE;
}

.management .battery{
   grid-area: battery;
   background-color: #ffffff;
   border-radius: 75px;
   margin: 0 0px 0 10px;
   height: 310px;
   width: 310px;
   color: orange;
   font-size: xx-large;
   font-family: GOOGLE;
   margin: 0;
}

.control div{
    background-color: rgb(255, 255, 255,0.5);
    height: 145px;
    width: 145px;
    border-radius: 50px;
}

.control div:hover{
    background-color:  rgb(255, 255, 255);
    transform: scale(1.0225);
    border: 2px solid rgba(0, 0, 0, 0.4);
}

.control_icon{
    height: 100px;
    width: 100px;
}

.management .control{
   grid-area: control;
   gap: 10px;
   background-color: #9ed40b34;
   border-radius: 40px;
   height: 640px;
   width: 200px;
}

.management .noting{
    grid-area: noting;
    background-color: rgb(38, 255, 0);
    border-radius: 100px;
    height: 400px;
    margin: 0px 0px 40px 30px;
    width: 840px;
}

.account{
    width: 300px;
    height: 300px;
    /* background-color: #ffffff; */
}

.account h2 , .setting h2{
    margin: 0;
    font-family: FRIZON;
    font-size: 40px;
    color: #fff8de;
}

.profile{
    width: 100px;
    height: 100px;
    /* background-color: #fe0000; */
    background-image: url(icon/user.png);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;
}

.setting{
    width: 300px;
    height: 300px;
    /* background-color: #ffffff; */
}

.setting_icon{
    width: 100px;
    height: 100px;
    background-image: url(icon/setting.png);
    border: 2px solid white;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;

}

.dot{
    background-color: chartreuse;
    height: 30px;
    width: 30px;
    border-radius: 12px;
}

h4{
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: GRAND;
    width: 100px;
}
.notif_item_box{
    background-color: rgb(177, 7, 7);
     width:100%;
     margin-right: 100px;
}
.notif_box{
    height: 50px;
    width: 120%;
    background-color: white;
    border-radius: 15px;

}

.data{
    background-color: rgb(99, 99, 99);
    height: 20%;
     width:100%;
     margin: 0 0 15px 0;
    text-align: left;
    font-family: GOOGLE;
    h1{
        font-size: 50px;
    }
}

.i{
    color: #ffffff;
    height: 10px;
    width: 100px;
    border-radius: 10px solid rgb(255, 8, 8);
}