:root{
    --bg-color : #222831;
    --shadow-head : rgba(0, 0, 0, 0.1);
    --bg-color-item-box : #FFF2C6;
    --bg-color-item : #FFF8DE;
    --border-color-item : rgba(0, 0, 0, 0.3); 
    --text-color-title-item-bar : #222831;
    --text-color-counts-items : rgba(0, 0, 0, 0.747);
    --text-color-units-item-bar : #222831 ;/*blue*/
    --bg-color-status : #E6E6E6;
    --bg-color-db : white ;
    --text-color-db : orange ;
    --button-color-control : #E6E6E6;
    --button-color-control-hover : white;
    --button-border-color-control :rgba(0, 0, 0, 0.4) ;
    --bg-color-control-bar : #ffffff46;
    --text-color-header : #fff8de;
    --border-color-icon-header : #fff8de;
    --bg-color-dot : chartreuse;
    --text-color-notification : rgb(0, 0, 0);
    --bg-color-notif-box :white;
}

:root.light {
  --bg-color: #fafbfc;                 
  --shadow-head: rgba(0, 0, 0, 0.05);

  --bg-color-item-box: #fff9e6;       
  --bg-color-item: #fffdf6;

  --border-color-item: rgba(0, 0, 0, 0.1);

  --text-color-title-item-bar: #333;   
  --text-color-counts-items: #666;
  --text-color-units-item-bar: #444;

  --bg-color-status: #efefef;
  --bg-color-db: #ffffff;
  --text-color-db: #c79f58;            

  --button-color-control: #eaeaea;
  --button-color-control-hover: #f3f3f3;
  --button-border-color-control: rgba(0, 0, 0, 0.15);

  --bg-color-control-bar: #00000008;

  --text-color-header: #3d3d3d;
  --border-color-icon-header: #3d3d3d;

  --bg-color-dot: #7fcf5d;             
  --text-color-notification: #2d2d2d;
  --bg-color-notif-box: #ffffff;
}



:root.dark {
  --bg-color: #2f3136;               
  --shadow-head: rgba(0, 0, 0, 0.12);
  --bg-color-item-box: #3a3c42;       
  --bg-color-item: #43454b;
  --border-color-item: rgba(255, 255, 255, 0.08);

  --text-color-title-item-bar: #e6e6e6;   
  --text-color-counts-items: #b8b8b8;
  --text-color-units-item-bar: #dcdcdc;

  --bg-color-status: #3a3a3a;
  --bg-color-db: #36393f;
  --text-color-db: #d8b98a;            

  --button-color-control: #3a3c42;
  --button-color-control-hover: #4a4c52;
  --button-border-color-control: rgba(255, 255, 255, 0.12);

  --bg-color-control-bar: #ffffff10;

  --text-color-header: #e8e8e8;
  --border-color-icon-header: #e8e8e8;

  --bg-color-dot: #8ccf6b;            
  --text-color-notification: #e6e6e6;
  --bg-color-notif-box: #3d3f45;
}





@font-face {
    font-family: APEX;
    src: url(fonts/Apex\ Mk3\ Black.ttf);
}

@font-face {
    font-family: GOOGLE ;
    src: url(fonts/Product\ Sans\ Bold.ttf);
}

@font-face {
    font-family: FRIZON;
    src: url(fonts/Frizon.ttf);
}

@font-face {
    font-family: GRAND;
    src: url(fonts/GRAND.otf);
}

.flex{
    display: flex;
}

.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_column{
    display: flex;
    flex-direction: column;
}

.align{
    
    align-items: center ;
}

.dot_margin{
    margin:  0 0 0 10px ;
}

.gap{
    gap: 20px;
}

.gap_10{
    gap: 10px;
}

.zero_margin{
    margin: 0;
}

.heigth{
    height: 30%;
}

.center{
    align-items:center;
    justify-content: center;
}

.margin_item{
    margin: 0px px 0 18.3px;
}





body{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    /* margin: 0; */
    align-items: center;
    justify-content: center;
    
}

.header{
    background-color:white ;
    background-image: url(icon/esport3.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    margin: 50px auto 10px auto;
    justify-content: space-between;
    height: 300px;
    width: 900px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px var(--shadow-head);
}

.item_box{   
    background-color: var(--bg-color-item-box);
    margin: 10px auto;
    gap: 0px 20px;
    height: 300px;
    width: 900px;
    border-radius: 50px;
}

.item{ 
    background-color: var(--bg-color-item);/*rgba(243, 243, 243, 0.705)*/
    font-family: GOOGLE;
    height: 250px;
    width: 270px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px var(--shadow-head);
    border: 1px solid var(--border-color-item);
    /* border: 4px solid rgb(114, 114, 114);*/
} 

.item_title_bar{ 
    /* background-color: rgba(122, 122, 122, 0.075); */
    height: 30%;
    width:250px;
    gap: 10px; 
}

.item_title_bar h2{
  font-size: 35px;
  color: var(--text-color-title-item-bar);
  font-family: APEX;
  font-weight: bold;
}

.count_bar{
    /* background-color: rgb(51, 255, 0); */
    height: 120px;
    width:250px;
}

.count_bar h3{
    font-size: xx-large;
    position: relative;
    color: var(--text-color-units-item-bar);
    top:20px;
    font-family: FRIZON;
}

.icon{
    /* margin: 10px 0px 10px 20px ; */
    width:70px; 
    height:70px;
    /* border-radius: 20px; */
}

h1{
    margin: 0;
    font-size: 100px;
    color: var(--text-color-counts-items);
}

.management{
    /* background-color: #da0909; */
    margin: 10px auto;
    display: grid;  
    grid-template-areas:
     "notification notification control"
     "runtime battery control"
     "noting noting noting";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:0px;
    height: 1100px;
    width: 900px;
    border-radius: 50px;
}

.management .notification{  
   grid-area: notification;
   background-color: var(--bg-color-status);
   border-radius: 50px;/*75px*/
   margin: 0 0px 15px 0px;
   height: 320px;
   width: 700px;
}

.management .runtime{  
   grid-area: runtime;
   background-color: var(--bg-color-db);
   border-radius: 75px;
   
   height: 310px;
   width: 335px;
   color: var(--text-color-db);
   font-size: xx-large;
   font-family: GOOGLE;
}

.management .battery{
   grid-area: battery;
   background-color: var(--bg-color-db);
   border-radius: 75px;
   height: 310px;
   width: 335px;
   color: var(--text-color-db);
   font-size: xx-large;
   font-family: GOOGLE;
   margin: 0 0px 0 15px;
}

.control button{
    background-color: var(--button-color-control);
    height: 145px;
    width: 145px;
    border-radius: 50px;
}

.control button:hover{
    background-color:  var(--button-color-control-hover);
    transform: scale(1.0225);
    border: 2px solid var(--button-border-color-control);
}

.control_icon{
    height: 100px;
    width: 100px;
}

.management .control{
   grid-area: control;
   gap: 10px;
   background-color: var(--bg-color-control-bar);
   border-radius: 40px;
   height: 640px;
   width: 170px;
   margin: 0 0 0 30px;
}

.management .noting{
    grid-area: noting;
    /* background-color: rgb(38, 255, 0); */
    border-radius: 100px;
    height: 400px;
    margin: 0px 0px 40px 30px;
    width: 840px;
}

.account{
    width: 300px;
    height: 300px;
    /* background-color: #ffffff; */
}

.account h2 , .setting h2{
    margin: 0;
    font-family: FRIZON;
    font-size: 40px;
    color: var(--text-color-header);
}

.profile{
    width: 100px;
    height: 100px;
    /* background-color: #fe0000; */
    background-image: url(icon/user.png);
    border: 2px solid var(--border-color-icon-header);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;
}

.setting{
    width: 300px;
    height: 300px;
    /* background-color: #ffffff; */
}

.setting_icon{
    width: 100px;
    height: 100px;
    background-image: url(icon/setting.png);
    border: 2px solid var(--border-color-icon-header);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 90px;

}

.dot{
    background-color: var(--bg-color-dot);
    height: 30px;
    width: 30px;
    border-radius: 12px;
}

h4{
    color: var(--text-color-notification);
    font-size: 30px;
    font-family:APEX;
    width: 100px;
}
.notif_item_box{
    /* background-color: rgb(177, 7, 7); */
     width:100%;
     /* margin-right: 100px; */
}
.notif_box{
    height: 60px;
    width: 210px;
    background-color: var(--bg-color-notif-box);
    border-radius: 20px;

}

.data{
    /* background-color: rgb(99, 99, 99); */
    height: 20%;
     width:100%;
     margin: 0 0 15px 0;
    text-align: left;
    font-family: GOOGLE;
    h1{
        font-size: 50px;
    }
}
